FastAPI
python-dotenv
uvicorn
gunicorn
requests
sentence-transformers
SQLAlchemy
msal
faiss-cpu
PyMuPDF
docx2txt
unstructured
pydantic
pytesseract
pdf2image
Pillow
python-docx
PyPDF2
Ollama
langchain-ollama
email-validator 
bcrypt 
itsdangerous 
segno
python-pptx
ddgs
dateparser
stripe